body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #1f253d;
  padding: 0 20px;
   /* background: url(./img/3.jpg);
   background-size: cover;
  background-repeat: no-repeat;
  height: 100%; */
}
